<div class="sign-in-form">
  <form action="/users/create-session" method="POST" class="form">
    <input type="email" name="email" placeholder="email" />
    <input type="password" name=" password" placeholder="password" />
    <button>submit</button>
  </form>
</div>
