<link rel="stylesheet" href="/css/user_profile.css" />
<h1 class="hello">Codeial / <%= title%></h1>
<p><%= user.name %></p>
<p><%= user.email %></p>
<a href="/users/destroy-session"><button>sign out</button></a>
