.reset-form-section {
  display: flex;
  flex-direction: column;
  height: 700px;
  width: 22rem;
  justify-content: center;
  gap: 1.5rem;
  transition: all 0.4s ease;
  .reset-form {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    .text {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h3 {
        color: white;
        margin-top: 20px;
        font-size: 30px;
        font-family: cursive;
        font-weight: 550;
        margin-right: 14px;
      }
      h4 {
        margin-top: -10px;
        color: grey;
        font-size: 15px;
        padding: 0 0 0 10px;
        font-weight: 400;
        margin-right: 14px;
      }
    }

    .password {
      display: flex;
      justify-content: center;
      position: relative;

      img {
        width: 25px;
        height: 25px;
        position: absolute;
        left: 14px;
        top: 10px;
      }
      input {
        display: flex;
        padding: 15px 0px 15px 55px;
        width: 100%;
        border: none;
        color: white;
        background-color: #212121;
        border-radius: 10px;
        font-size: 15px;
        font-family: sans-serif;
      }
      input::placeholder {
        // color: rgb(207, 190, 170);;
        color: grey;
      }

      i {
        position: absolute;
        cursor: pointer;
        color: white;
        font-size: 20px;
        right: 20px;
        top: 14px;
      }
    }
    .submit-button button {
      //  padding: 15px 0px 15px 55px;
      padding: 15px 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: linear-gradient(130deg, #1277f3 0%, #0b4995 97%);
      color: white;
      width: 100%;
      border: none;
      border-radius: 10px;
      font-size: 16px;
      font-weight: 550;
      font-family: sans-serif;
      cursor: pointer;
      margin-top: 8px;
    }
    button:hover {
      background: linear-gradient(130deg, #0b6be0 0%, #0b3364 97%);
    }
  }
  .other-option {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 15px;
    .line1 {
      height: 2px;
      width: 50px;
      background-color: rgba(219, 219, 213, 0.61);
      box-shadow: -1.5em 0 0.4em rgb(219, 219, 213);
    }
    .content {
      color: white;
    }
    .line2 {
      height: 2px;
      width: 50px;
      background-color: rgba(219, 219, 213, 0.61);
      box-shadow: 1.5em 0 0.4em rgb(219, 219, 213);
    }
  }
}
@media screen and (max-width: "660px") {
  .reset-form-section {
    width: 20rem;
    .reset-form {
      .text {
        h3 {
          font-size: 28px;
        }
      }

      .password {
        input {
          padding: 13px 0px 13px 55px;
        }
      }
      .submit-button button {
        padding: 12px 0px;
      }
    }
  }
}
